


*,
*:before,
*:after {
    padding:0;
    margin:0;
    border: 0;
    box-sizing: border-box;
}

.red {
    background-color: darkred;
}
.grey {
    background-color:gray;
}
.white {
    background-color: antiquewhite;
}
.conteiner{
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
}
.header {
    height:5%;
    padding:5px;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 95%;
    height:93%;
    grid-gap: 5px 5px;

}
.log{
    display:grid;
    grid-template-rows: 0.75fr 13fr;
    grid-gap: 3px 3px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 3fr 1fr 0.5fr 6fr;
    grid-gap: 3px 3px;

    grid-template-areas:
        "stat1   picture stat2"
        "stat1   info    stat2"
        "weapon weapon  weapon"
        "manage manage  manage"
}
footer{
    height:2%;
}
.stat{
    display:flex;
    flex-direction: column;
}
.stat__item{
    height: 25%;
    margin: 2px
}
.stat_1{
    grid-area: stat1;
}
.stat_2{
    grid-area: stat2;
}
.picture{
    grid-area: picture;
    overflow-y: hidden;

}
img{
    max-width:100%;
    max-height: 100%;
    object-fit: cover;

}
.info{
    grid-area: info;
}
.weapon{
    grid-area: weapon;
}
.weapon__item{
    display:block;
    height: 50%;
}
.manage{
    grid-area: manage;
}